html {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  color: #97DDEE;
  background: #1E2124;
}

a {
  text-decoration: none;
  color: #97DDEE;
}

.container {
  max-width: 1296px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__text,
.contacts {
  display: flex;
  flex-direction: column;
}

.main__text{
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  color: #66BDD0;
  padding-top: 25px;
  position: relative;
  display: inline-block;
  margin: 0 auto 35px;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: -1rem;
  right: -1rem;
  height: 0.75rem;
  z-index: -1;
  background-image: url('../images/underline.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  color: #FFDAB5;
  margin: 0 auto 60px;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-box__item {
  width: 396px;
  border-radius: 3px;
  background: #2A3035;
  margin: 0 10px 30px;
  text-align: center;
}

.p-box__img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.p-box__text {
  min-height: 30px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code__link {
  font-size: 14px;
  padding-bottom: 10px;
  display: inline-block;
  transition: all .3s;
  color: #6B8186;
}

.code__link:hover {
  color: #FFDAB5;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.contact {
  padding: 14px 30px;
  transition: all .3s;
}

.contact:hover {
  color: #FFDAB5;
}

@media (max-width: 1280px) {
  .portfolio-box {
    justify-content: center;
  }

  .p-box__item {
    width: 45%;
    margin: 0 20px 65px;
  }
}

@media (max-width: 840px) {
  .p-box__item {
    width: 90%;
    margin: 0 10px 40px;
  }
}

@media (max-width: 530px) {
  .contact-box p {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
  }
}